body
{
    background-image: url("../img/backgroundImage.jpg");
}
header
{
    /*background-color: burlywood;*/
    width: 100%;
    height: 20%;
}


nav
{
    justify-content: center;
display: flex;
    gap: 15px;
}

nav div
{
    padding: 1%;
    background-color: brown;
    }

nav div :hover
{
    background-color: RGB(160, 40, 30);
    color: burlywood;
}

nav div a
{
    text-decoration: none;
    color: whitesmoke;
}

section
{
    margin: 1%;
    background-color: whitesmoke;
}

section p
{
    background-color: RGB(245, 245, 237);
    margin: 4px;
    border: solid rgb(64, 64, 64) 2px;
}
h1
{
    margin-left:5px;
}

.imageContainer
{
    display: flex;
    gap: 2%;
}
.imageContainer img
{
    width: 25%;
    height: 25%;
}

h2
{
    text-align: center;
}